<p>This student is currently
  <% if @student.active %>
  inactive.
  <% else %>
  active.
  <% end %>
</p>

<div>
  <% @students.each do |student| %>
    <div>
        <% if student == active %>
  inactive.
  <% else %>
  active.
  <% end %>
      <%= link_to student.to_s, student_path(student) %>
    </div>
  <% end %>
</div>